<div class="head">
  <h2>Welcome Ichor Studios CRM!</h2>
  <input type="text" name="Username" value=""><br>
  <input type="text" name="Password" value=""><br>
  <button type="submit" name="button">Log In</button>
  <p>Sign Up</p>
</div>
